<%- include("./partials/header") %>
    <div class="jumbotron">
        <p><h1>404 error</h1>
        <h3>The page you are looking for does not exist please try something else</h3>
    </p>
       <form action="/" method="GET">
        <button type="submit" class="btn btn-lg btn-success">Try again</button>
        </form>
    </div>
    <%- include("./partials/footer") %>