<%- include("./partials/header") %>
	<div class="container indexcontainer">
        <form action="/" method="POST">
            <h1 class="head">Welcome to the <br> Weather App. <br> Please enter a city:</h1>
        <input class="form-control" type="text" name="city" placeholder="Enter City Name" required>
        <button class="btn btn-lg btn-primary btn-block type="submit">Go</button>
        </form>
	</div>
<%- include("./partials/footer") %>