<!DOCTYPE html>
<html>
<head>
    <script data-ad-client="ca-pub-5631646023386578" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	
	<div class="container indexcontainer">
		
        <form action="/" method="POST">
            <h1 class="head">Welcome to the <br> Weather App. <br> Please enter a city:</h1>
        <input class="form-control" type="text" name="city" placeholder="Enter City Name" required>
        <button class="btn btn-lg btn-primary btn-block type="submit">Go</button>
        </form>
		
	</div>
	<footer>&copy Wematu-James</footer>
	
</body>
</html>