@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
:root {
  --border: 0.5px solid grey;
  --borderRadius: 7px;
  --primary: #000d6b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #cdc9c3;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  color: white;
  text-align: center;
  padding: 0.4rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0 1rem;
  height: 100vh;
}
.weather-container {
  color: white;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    190deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(19, 32, 110, 1) 38%,
    rgba(252, 70, 107, 1) 100%
  );
  /* background: var(--primary); */
  display: flex;
  flex-direction: row;
  border: var(--border);
  border-radius: var(--borderRadius);
  margin: auto;
  padding: 0.5rem;
  overflow: hidden;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.search-location {
  background: grey;
  position: absolute;
  font-size: 1.4rem;
  left: -26px;
  color: white;
  padding: 0 30px -0;
  border-radius: var(--borderRadius);
  border: none;
}
.weather-info {
  margin-top: 25px;
  display: flex;
  align-content: center;
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}
.symbol-icon {
  display: flex;
}
.temperature {
  margin-right: 1rem;
  font-size: 4rem;
  font-weight: bold;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unit {
  font-size: 2rem;
  font-weight: bold;
}
